# ======================
# 🔐 SENSITIVE FILES
# ======================
/android/app/enxovalbaby-release-key.jks
/android/key.properties
.enxovalbaby-release-key.jks.base64.txt
enxovalbaby-release-key.jks.base64.txt
firebase.json
firebase-debug.log
.firebase/
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleServices-Info.plist
ios/firebase_app_id_file.json

# ======================
# 🏗️ BUILD FILES
# ======================
/build/
.dart_tool/
.pub/
.pub-cache/
**/doc/api/
**/ios/Flutter/.last_build_id

# ======================
# 🧠 IDE SETTINGS
# ======================
.idea/
*.iml
*.ipr
*.iws
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.codegpt

# ======================
# 🧪 SYMBOL/OBFUSCATION FILES
# ======================
.codegpt
app.*.symbols
app.*.map.json

# ======================
# ⚠️ ANDROID STUDIO TEMP FILES
# ======================
/android/app/debug
/android/app/profile
/android/app/release
